.memo
{
    height: 850px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title
{
    width: 600PX;
    height: 1000PX;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imagenes
{
    width: 600px;
    height: 650px;
    flex-wrap: wrap;
    display:  flex; 
}
.cartas
{
    width: calc(25% - 10px);
    height: 150px;
    margin: 5px;
    background-color:aquamarine;
    box-shadow: 0 0 10px gray;
    position: relative;
}
.memo-cardImg
{
    width: 160px;
    height: 130px;
    margin: 10px;
    margin-left: -10px;
    position: absolute;
}
.memo-opacity
{
    width: 160px;
    height: 130px;
    margin: 10px;
    margin-left: -10px;
    position: absolute;
   }
.footer
{
    width: 600PX;
    height: 100PX;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.op1
{
    opacity: 1;
    transition: 0.5s;
}
.op0
{
opacity: 0;
}
.bloqueado
{
    pointer-events: none;
}
.divintentos
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

